
.vs/RandomProblems/v15/Server/sqlite3/storage.ide-wal
.vs/RandomProblems/v15/Server/sqlite3/storage.ide-shm
.vs/RandomProblems/v15/Server/sqlite3/storage.ide
.vs/RandomProblems/v15/Server/sqlite3/db.lock
.vs/RandomProblems/v15/.suo
.vs/RandomProblems/v16/.suo
.vs/RandomProblems/v16/.suo
.vs/RandomProblems/v16/.suo
AcronymMaker/obj/Debug/AcronymMaker.csprojAssemblyReference.cache
ArrayElementsMultiplication/obj/Debug/ArrayElementsMultiplication.csprojAssemblyReference.cache
ArrayLeftRotation/obj/Debug/ArrayLeftRotation.csprojAssemblyReference.cache
BoxBlurring/obj/Debug/BoxBlurring.csprojAssemblyReference.cache
BubbleSort/obj/Debug/BubbleSort.csprojAssemblyReference.cache
CharIsDigit/obj/Debug/CharIsDigit.csprojAssemblyReference.cache
CheckStringPermutations/obj/Debug/CheckStringPermutations.csprojAssemblyReference.cache
CheckSumOfThirty/obj/Debug/CheckSumOfThirty.csprojAssemblyReference.cache
ClosestToLimit/obj/Debug/ClosestToLimit.csprojAssemblyReference.cache
ContainsDuplicates/obj/Debug/ContainsDuplicates.csprojAssemblyReference.cache
CorrelationCoefficient/obj/Debug/CorrelationCoefficient.csprojAssemblyReference.cache
CryptSolution/obj/Debug/CryptSolution.csprojAssemblyReference.cache
CurrencyConversion/obj/Debug/CurrencyConversion.csprojAssemblyReference.cache
DiffSquares/obj/Debug/DiffSquares.csprojAssemblyReference.cache
DigitProduct/obj/Debug/DigitProduct.csprojAssemblyReference.cache
DigitRemoval/obj/Debug/DigitRemoval.csprojAssemblyReference.cache
DigitReplacement/obj/Debug/DigitReplacement.csprojAssemblyReference.cache
DiscriminantValue/obj/Debug/DiscriminantValue.csprojAssemblyReference.cache
DivisibleSumPairs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DivisibleSumPairs/obj/Debug/DivisibleSumPairs.csprojAssemblyReference.cache
DumpableDemo/obj/Debug/DumpableDemo.csprojAssemblyReference.cache
DynamicPartitions/obj/Debug/DynamicPartitions.csprojAssemblyReference.cache
ElectionWinners/obj/Debug/ElectionWinners.csprojAssemblyReference.cache
EqualStrength/obj/Debug/EqualStrength.csprojAssemblyReference.cache
EuclideanGCD/obj/Debug/EuclideanGCD.csprojAssemblyReference.cache
ExtractElements/obj/Debug/ExtractElements.csprojAssemblyReference.cache
FactoryDesignPattern/obj/Debug/FactoryDesignPattern.csprojAssemblyReference.cache
FindFirstDuplicates/obj/Debug/FindFirstDuplicates.csprojAssemblyReference.cache
FirstNotRepeatingCharacter/obj/Debug/FirstNotRepeatingCharacter.csprojAssemblyReference.cache
HeapSort/obj/Debug/HeapSort.csprojAssemblyReference.cache
ImageRotation/obj/Debug/ImageRotation.csprojAssemblyReference.cache
InheritanceRectangle/obj/Debug/InheritanceRectangle.csprojAssemblyReference.cache
IsUniqueCharacters/obj/Debug/IsUniqueCharacters.csprojAssemblyReference.cache
ArrayElementsMultiplication/obj/Debug/ArrayElementsMultiplication.csprojAssemblyReference.cache
*.cache
.vs/RandomProblems/v16/.suo
